#main{
    border: 1.5px solid black;
    padding: 10px;
}
h2{
    align-self: center;
}
#amountInp{
    width: 80px;
}

#buy{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid green;   
}
#buy:hover{
    border: green 2px solid;
    cursor: pointer;
}
p{
    display: inline;
}